#container{
    padding: 5px;
    border: 1px solid black;
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 8px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookDiv{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}